body {
  font-family: system-ui, sans-serif;
  margin: 0;
  background: #0f172a;
  color: white;
}

.screen {
  padding: 20px;
}

.hidden {
  display: none;
}

input {
  width: 100%;
  padding: 14px;
  margin: 10px 0;
  border-radius: 10px;
  border: none;
}

button {
  width: 100%;
  padding: 16px;
  margin: 10px 0;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  background: #22c55e;
  color: black;
  font-weight: bold;
}

button:active {
  transform: scale(0.98);
}

#content {
  margin-top: 20px;
}

.card {
  background: #1e293b;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 10px;
}
